* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.events {
  /* padding-top: var(--padding-from-navbar); */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media screen and (min-width: 996px) {
  .events {
    display: grid;
    /* grid-area: ; */
    grid-template-columns: repeat(3, 1fr);
  }
}