.login-user {
  padding-top: var(--padding-from-navbar);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-user-container {
  border: 1px solid #000;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

.login-input {
  display: block;
  width: 20rem;
  height: 1.8rem;
  margin-bottom: 0.5rem;
}

.login-user-container p {
  text-align: center;
}

.event-login {
  font-size: 1.15rem;
}