/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 3rem; */
  z-index: 1000;
  background-color: crimson;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 98%;
}

.event-logo {
  text-decoration: none;
  color: #000;
}

.links-hamburger {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav-user {
  padding: 0.1rem 0.6rem;
  background: #808080;
  border-radius: 5px;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.nav-user::before {
  content: "hi "
}

.hamburger {
  font-size: 1.4rem;
  transition: transform 0.5s linear;
}

.hamburger:hover {
  transform: rotate(90deg);
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  background-color: crimson;
  width: 0;
  height: 0;
  overflow-y: hidden;
  transition: all 0.75s ease;
}

.show-links {
  width: 100%;
  overflow: "visible";
}

.link {
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #fff;
}

.link:hover {
  background-color: rgb(224, 134, 152);
  padding-left: 0.9rem;
}

.link-admin {
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #000;
}

.link-admin:hover {
  color: #fff;
}

.cart-icon {
  font-size: 1.1rem;
}

/* @media min-width: 996px */
@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
  }

  .navbar-container {
    padding: 0rem;
    padding-right: 2.0rem;
    width: 65%;
  }

  .links-mobile {
    width: 20%;
  }

  .links-mobile > .link {
    display: none;
  }

  .hamburger {
    display: none;
  }

  hr {
    display: none;
  }

  .links {
    width: 35%;
    flex-direction: row;
    justify-content: right;
    overflow-y: visible;
    transition: none;
  }

  .link {
    padding: 0 0;
    padding-right: 2.5rem;
  }

  .link:hover {
    background-color: unset;
    padding-left: unset;
    color: blue;
  }

}
