.query-events-container {
  margin: 3.3rem auto 0rem auto;
  padding: 1.0rem;
}


@media screen and (min-width: 800px) {
  .query-events-container {
    width: var(--width-min-width-800px);
  }
  .query-events-adverts {
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .query-events {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}
